:root {
    --bg-color: light-dark(#f4f7f6, #121212);
    --text-color: light-dark(#2c3e50, #121212);
    --primary: light-dark(#3498db, #212121);
    --primary-hover: light-dark(#2980b9, #212121);
    --secondary: light-dark(#ecf0f1, #212121);
    --accent: #27ae60;
    --white: light-dark(#ffffff, #ffc107);
    --title-color: light-dark(#212121, #ffffff)
}

body {
    background-color: var(--bg-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#title-test {
    margin-bottom: 40px;
    font-weight: 350;
    letter-spacing: 1px;
    color: var(--title-color);
}

#topic-selection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 900px;
}

#diff-selection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 900px;
}

.topic-btn {
    background-color: var(--white);
    color: var(--text-color);
    border: 2px solid var(--primary);
    border-radius: 8px;
    padding: 15px;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease; 
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.topic-btn:hover {
    background-color: var(--primary);
    color: var(--white);
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

#quiz-area {
    background: var(--white);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    max-width: 600px;
    width: 100%;
}

#question-text {
    font-size: 1.3rem;
    margin-bottom: 25px;
    line-height: 1.5;
}

.answer-btn {
    background-color: var(--secondary);
    color: light-dark(#2c3e50, #ecf0f1);
    border: none;
    border-radius: 6px;
    padding: 15px 20px;
    margin-bottom: 12px;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s;
    text-align: left;
}

.answer-btn:hover {
    background-color: light-dark(#bdc3c7, #7b7f81);
}

.return-btn {
    margin-left: 50px;
    margin-top: 20px;
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
}

.back-btn {
    margin-top: 20px;
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
}

/* #dark-mode {
    position: absolute;
    top: 50;
    right: 0;
    padding: 10px;
    cursor: pointer;
} */

#dark-mode {
    position: absolute;
    top: 50;
    right: 0;
    background-color: var(--white);
    color: var(--text-color);
    border: 2px solid var(--primary);
    border-radius: 8px;
    padding: 15px;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease; 
    height: 60px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

#dark-mode:hover {
    background-color: var(--primary);
    color: var(--white);
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

#progress {
    font-size: 0.9rem;
    color: var(--primary);
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;

}

.correct {
    background-color: #27ae60 !important;
    color: white !important;
}

.wrong {
    background-color: #e74c3c !important;
    color: white !important;
}

.diff-btn {
    background-color: var(--white);
    color: var(--text-color);
    border: 2px solid var(--primary);
    border-radius: 8px;
    padding: 15px;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.diff-btn:hover {
    background-color: var(--primary);
    color: var(--white);
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}